.workContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  margin-top: 50px;
}

.textContainer {
  font-size: 14px;
  text-align: center;
}

.workContainer button {
  cursor: pointer;

  background-color: #fff;

  padding: 10px;

  width: 220px;
  height: 60px;

  border-radius: 20px;

  font-size: 16px;
  border: none;
}

.workContainer button:hover {
  font-weight: bold;
  width: 240px;
  height: 80px;
}

@media (max-width: 768px) {
  .workContainer {
    margin-top: 130px;
  }

  .textContainer {
    font-size: 12px;
  }
}
