.contactBtnContainer button {
  background-color: rgb(247, 246, 246);
  color: #030a8c;

  max-width: 200px;
  height: 50px;

  border-radius: 10px;

  font-size: 16px;
  border: none;

  cursor: pointer;

  transition: 0.3s ease;

  border: #030a8c  1px solid;
}

.contactBtnContainer button:hover {
  transition: 0.3s ease;
  transform: scale(1.1);

  /* width: 130px;
  height: 70px; */
}
