.aboutContainer {
  display: flex;

  padding: 0 20px 20px;
  box-sizing: border-box;
}

.leftContainer {
  width: 60%;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side {
  height: 100%;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
}

.sideSkills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 0;
}

.sideSkills article {
  display: flex;
  justify-content: center;
  margin: .5rem;
}

.sideSkills img {
  width: 25px;
  height: 25px;
  margin-right: .3rem;
}

.sideSkills p,
.sideSkills small {
  margin: 0;
  font-weight: bold;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
  right: auto;

  padding: 30px;
}

.card {
  border: none;
  border-radius: 20px;

  background-color: #fff;

  width: 175px;
  height: 200px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.card img {
  width: 40px;
  height: 40px;
}

.card h2 {
  font-size: 18px;
  text-align: center;
}

@media (max-width: 768px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
  }

  .leftContainer {
    width: 105%;
  }

  .side {
    width: 100%;
  }

  .textContainer {
    display: flex;
    width: 100%;
  }
}
