.aboutContainer {
  display: flex;

  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  padding: 20px;
}

.leftContainer {
  margin-right: auto;
  width: 55%;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side {
  height: 270px;
  background-color: #858c74;
  text-align: center;
  border-radius: 20px;
}

.side:hover {
  border: 2px solid #a0a694;
}

.sideSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 200px;
}

.sideSkills article {
  display: flex;

  gap: 0.5rem;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.sideSkills img {
  width: 25px;
  height: 25px;
}

.sideSkills h4,
.sideSkills small {
  margin: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
  right: auto;

  padding: 30px;
}

.card {
  border: 3px solid #a0a694;
  border-radius: 20px;

  background-color: #858c74;
  color: #a0a694;

  width: 175px;
  height: 200px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.card img {
  width: 40px;
  height: 40px;
}

.card h2 {
  font-size: 18px;
  text-align: center;
}
