.aboutContainer {
  /* display: flex; */

  padding: 0 20px 20px;
}

/*
.leftContainer {
  width: 60%;
}
*/
.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.side {
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
}

.sideSkills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
}

.sideSkills article {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.sideSkills img {
  width: 25px;
  height: 25px;
  margin-right: 0.3rem;
}

.sideSkills p,
.sideSkills small {
  margin: 0;
  font-weight: bold;
}

.textContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 2rem;
}

.card {
  border: none;
  border-radius: 20px;

  background-color: #fff;

  width: 175px;
  height: 200px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 5px;
}

.card img {
  width: 40px;
  height: 40px;
}

.card h2 {
  font-size: 18px;
  text-align: center;
}
/*
@media (max-width: 800px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
  }

  .leftContainer {
    width: 105%;
  }

  .side {
    width: 100%;
  }

  .textContainer {
    display: flex;
    width: 100%;
  }
} */

@media (min-width: 800px) {
  .aboutContainer {
    display: flex;
    gap: 2rem;
  }

  .leftContainer {
    width: 60%;
  }

  .sideSkills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .textContainer {
    width: 40%;
  }
}
