.cardContainer {
  border-radius: 20px;

  width: 430px;
  height: 500px;

  padding: 10px;

  background-color: #fff;
}

.cardContainer h2 {
  padding: 10px;
}

.carrouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrouselImg {
  border-radius: 20px;

  width: 370px;

  height: 300px;
  object-fit: cover;
}

.carrouselBtn {
  border-radius: 50%;
  border: none;

  background-color: #fff;

  cursor: pointer;
}

.carrouselBtn img {
  width: 20px;
  height: 20px;
}

.cardContainer h2,
h4 {
  padding-left: 20px;
}

.btnView button {
  background-color: #fff;

  font-size: 15px;
  font-weight: bold;

  border: none;

  width: 100%;
  max-width: 120px;
  height: 60px;

  border-radius: 20px;

  cursor: pointer;

  margin-left: 10px;
}

.btnView button:hover {
  background-color: rgb(247, 246, 246);
}

@media (max-width: 1024px) {
  .cardContainer {
    width: 100%;
  }

  .carrouselImg {
    width: 85%;
  }
}
