.workContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: auto;

  margin-top: 100px;
}

.textContainer {
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .workContainer {
    margin-top: 130px;
  }

  .textContainer {
    font-size: 12px;
  }
}
