.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100vw;
  height: 100vb;
  justify-content: center;
  align-items: center;
  background: #f1f5f9;
}

.divContainer {
  display: flex;
}

.textContainer {
  background-color: #fff;
  font-weight: bold;

  border-radius: 1rem;
  margin-left: 250px;

  flex-direction: column;
  justify-content: center;
  position: relative;

  padding: 20px;
}

.textContainer p {
  margin-bottom: auto;
}

.textContainer button {
  align-self: flex-start;
  margin: 80px;
  border: 1px solid blue;
}

.textContainer2 {
  background-color: #fff;
  font-weight: bold;
  border-radius: 1rem;
  margin-right: 650px;
  padding: 20px;

  width: 500px;
}

.textContainer2 p {
  margin-bottom: auto; /* Empuja el párrafo hacia arriba para centrarlo verticalmente */
}

.textContainer2 button {
  align-self: flex-start;
  margin: 80px;
  border: 1px solid blue;
}

.slider {
  width: 75%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider_track {
  display: flex;
  gap: 1rem;
  animation: scroll 20s linear infinite;
  width: calc(200px * 8);
}

.slide {
  background: grey;
  padding: 1rem;
  border-radius: 1rem;
  width: 50px;
  height: 50px;
}

.slider_track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slider_track2 {
  display: flex;
  gap: 1rem;
  animation: scroll2 20s linear infinite;
  width: calc(200px * 8);
}

@keyframes scroll2 {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider_track2:hover {
  animation-play-state: paused;
}

.buttonLink {
  cursor: pointer;

  background-color: #fff;

  padding: 10px;

  width: 220px;
  height: 60px;

  border-radius: 20px;

  font-size: 16px;
  border: none;
}

.buttonLink:hover {
  font-weight: bold;
  width: 240px;
  height: 80px;
}
